@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

* {margin: 0; padding: 0; font-family: 'Roboto Mono', monospace; font-weight: 400; box-sizing: border-box; outline: none;}

/* ************************************** root */

html {background-color: #f0f0f0; cursor: default; margin: 0 1.5em}

body {margin: 0 auto; max-width: 480px;}

h2 {font-size: 0.875em; font-weight: 700; color: darkmagenta;padding: 2.5em 0 1em;}

a {text-decoration: none; display: inline-block; color: darkmagenta; transition: 200ms;}
a:hover {color: magenta;}

ul {display: flex; flex-direction: column;}

ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    line-height: 2em;
    border-top: 1px solid;
    padding: 0.5em;
}

ul li:last-child {border-bottom: 1px solid;}

input, button {
    line-height: 2em;
    padding: 0 0.5em;
	font-size: 1rem;
    border: none;
}

input:focus, button:focus {
    outline: darkmagenta solid 2px;
}

.hide {display: none;}

/* ************************************** header */

#header {padding-top: 1.75em;}

#header .nav-brand {font-weight: 700;}

/* ************************************** form */

#formulario-entrada {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

#formulario-entrada input {
    flex-grow: 1;
    width: 100%;
}

#formulario-entrada button {
    color: white;
    background-color: darkorchid;
    margin-left: 0.5em;
}

#formulario-entrada button:hover {
    background-color: magenta;
    cursor: pointer;
}

/* ************************************** tarefas */

#tarefas {
    padding-top: 0em;
}

#tarefas a {
    margin-left: 0.5em;
}

#tarefas a i {
    width: 2em;
    line-height: 2em;
    text-align: center;
}

#tarefas ul li {
    border-color: #dadada;
    transition: 200ms;
}

#tarefas ul li:hover {
    background-color: #ececec;
}

#tarefas .tarefas-concluidas * {
    color: #ceccc5;
}

#tarefas .tarefas-concluidas ul li {
    text-decoration: line-through;
}

/* ************************************** footer */

#footer {
    color: #ceccc5;
    margin: 2.5em 0;
}

#footer p {font-size: 0.75em;}